<div class="flex-container">
  <div class="input-border">
    <h1 style="font-size: large;">Aplikacja ustalający kąt pomiędzy dwoma lokalizatorami</h1>
    <form [formGroup]="locForm" (submit)="onSubmitSearch($event)">
      <div class="form-group">
        <input type="text" placeholder="Lokalizator źródłowy:" class="input input-bordered w-full max-w-xs"
          id="sourceLocalization" formControlName="sourceLocalization">
        <button type="button" class="btn" (click)="saveSourceLocalization()">save</button>
      </div>
      <div class="form-group">
        <input type="text" placeholder="Lokalizator docelowy:" class="input input-bordered w-full max-w-xs"
          id="targetLocalization" formControlName="targetLocalization">
      </div>
      <button type="submit" class="btn btn-primary">Sprawdź</button>
    </form>
    <div>{{calculatedAngle| async}}</div>
  </div>
  <div class="map-container">
    @if(showLeaflet) {
    <div style="height: 100%" leaflet (leafletMapReady)="onMapReady($event)" (leafletClick)="click($event)"
      [leafletOptions]="options" [leafletLayers]="layers">
    </div>
    }
  </div>


</div>