<div class="flex-container">
  <div class="input-border">
    <h1 style="font-size: large;">Aplikacja ustalający kąt pomiędzy dwoma lokalizatorami</h1>
    <form [formGroup]="locForm" (submit)="onSubmitSearch($event)">
      <div class="form-group">
        <label for="sourceLocalization">Lokalizator źródłowy:</label>
        <input type="text" id="sourceLocalization" formControlName="sourceLocalization">
        <button type="button" class="btn btn-primary" (click)="saveSourceLocalization()">Zapisz</button>
      </div>
      <div class="form-group">
        <label for="targetLocalization">Lokalizator docelowy:</label>
        <input type="text" id="targetLocalization" formControlName="targetLocalization" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Sprawdź</button>
    </form>
    <div>{{calculatedAngle| async}}</div>
  </div>
  <div class="map-container">
    @if(showLeaflet) {
    <div style="height: 100%" leaflet (leafletMapReady)="onMapReady($event)" (leafletClick)="click($event)"
      [leafletOptions]="options" [leafletLayers]="layers">
    </div>
    }
  </div>
</div>