<div class="drawer h-full">
  <input #searchDrawer id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    @if(showLeaflet) {
    <div style="height: 100%" leaflet (leafletMapReady)="onMapReady($event)" (leafletClick)="click($event)"
      [leafletOptions]="options" [leafletLayers]="layers">
    </div>
    }
    <div class="  absolute bottom-4 left-2 z-[10000] flex flex-col gap-4">
      <button class="btn" onclick="my_modal_5.open? my_modal_5.close():  my_modal_5.show()"><ng-icon
          name="featherSun"></ng-icon></button>
      <label for="my-drawer" class="btn btn-primary drawer-button"><ng-icon name="featherSearch"></ng-icon></label>
    </div>

  </div>
  <div class="drawer-side z-[10000]">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
      <label for="my-drawer" class="btn btn-primary drawer-button  absolute bottom-4 left-2 z-[10000]"><ng-icon
          name="featherArrowLeftCircle"></ng-icon></label>

      <form [formGroup]="locForm" (submit)="onSubmitSearch($event)">
        <div class="form-group flex mb-4">
          <input type="text" placeholder="Lokalizator źródłowy:" class="input input-bordered w-full max-w-xs"
            id="sourceLocalization" formControlName="sourceLocalization">
          <button type="button" class="btn btn-outline ml-1" (click)="saveSourceLocalization()"><ng-icon
              name="featherSave"></ng-icon></button>
        </div>
        <div class="form-group mb-4">
          <input type="text" placeholder="Lokalizator docelowy:" class="input input-bordered w-full max-w-xs"
            id="targetLocalization" formControlName="targetLocalization">
        </div>
        <button type="submit" class="btn btn-primary w-full">Szukaj</button>
      </form>
    </ul>
  </div>
</div>

<dialog id="my_modal_5" class="absolute top-0 right-0 z-[10000]" cdkDrag>
  <div class=" h-[50vh]" [style.height.px]="itemSize?.height" [style.width.px]="itemSize?.width"
    [style.transform]="'translate3d(' + itemSize?.left + 'px,' + itemSize?.top + 'px, 0px )'" resize
    (resizeEnd)="updateSize($event)">
    <img class="h-full" src="https://www.hamqsl.com/solarn0nbh.php">
  </div>
</dialog>