@tailwind base;
@tailwind components;
@tailwind utilities;
@import './../node_modules/leaflet.markercluster/dist/MarkerCluster.css';
@import './../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css';
@import './../node_modules/leaflet/dist/leaflet.css';

/* You can add global styles to this file, and also import other style files */
.leaflet-no-background {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    font-weight: bold !important;
}

html,
body,
app-root {
    height: 100%;
    margin: 0;
}

.d-block {
    display: block !important;
}

.leaflet-pane.leaflet-shadow-pane {
    display: none;
}